[user]
	email = cxiesestro@gmail.com
	name = EGA-SUPREMO
	
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[core]
	editor = nano -r 72
	autocrlf = input
[help]
	autocorrect = 50
[filter "signingkey"]
	smudge = sed \"s/
	clean = sed \"s/
[alias]
	st = status
	br = branch
	cm = commit
	cme = !git add -A && git commit
	save = !git add -A && git commit -m 'SAVEPOINT'
	wip = commit -am "WIP"
	undo = reset HEAD~1 --mixed
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	up = pull --prune
	co = checkout
	cob = checkout -b
	cobf = "!f() { git checkout -b feature/$1 && git push --set-upstream origin feature/$i; }; f"
	cobh = "!f() { git checkout -b hotfix/$1 && git push --set-upstream origin hotfix/$i; }; f"
	cobb = "!f() { git checkout -b bugfix/$1 && git push --set-upstream origin bugfix/$i; }; f"

	cof = "!f() { git checkout feature/$1; }; f"
	coh = "!f() { git checkout hotfix/$1; }; f"
	cob = "!f() { git checkout bugfix/$1; }; f"
	amend = commit --amend

	default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'

	return = "!f() { DEFAULT=$(git default); git checkout ${1-$DEFAULT}; }; f"

	lg = log --graph --oneline --decorate --all